@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}
  
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal {
    @apply w-full m-4 md:w-96 md:mx-auto md:my-auto backdrop:bg-gray-900/90 rounded-xl
  }

  .form-title {
    @apply text-center font-semibold text-2xl text-gray-800
  }

  .form {
    @apply mt-5 space-y-6
  }

  .form-group {
    @apply flex flex-col justify-center items-start gap-2
  }

  .form-label {
    @apply text-lg font-medium text-gray-700
  }

  .form-input {
    @apply w-full py-2 px-4 outline-none rounded-xl border border-gray-900
  }

  .form-button {
    @apply w-full py-2 px-4 rounded-xl bg-purple-600 text-white text-lg hover:shadow-lg hover:-translate-y-0.5 active:bg-purple-700 transition duration-200 transform
  }
}